ADMIN_API_TOKEN=token 
LANGUAGE_DETECTION_SEGMENTS=10
VAD_FILTER_THRESHOLD=0.2
WHISPER_MODEL_SIZE=medium
DEVICE_TYPE=cpu
BOT_IMAGE_NAME=vexa-bot:dev
# Exposed Host Ports
API_GATEWAY_HOST_PORT=18056
ADMIN_API_HOST_PORT=18057
TRAEFIK_WEB_HOST_PORT=19090
TRAEFIK_DASHBOARD_HOST_PORT=18085
TRANSCRIPTION_COLLECTOR_HOST_PORT=18123
POSTGRES_HOST_PORT=15438 